//- .p-index
canvas.p-index--oscillators(data-js-oscillators keepalive='true')
canvas.p-index--particle-net(data-js-particular keepalive='true')
a.p-index--logo-wrap(href='/')
  img.p-index--logo(src=require('images/svg/logo.svg'))
.p-index--tagline.c-white(data-js-tagline)
  p.p-index--word-1
    span T
    span.p-index--letters-1 H
    span E
  p.p-index--word-2
    span.p-index--letters-2 S
    span OUND
  p.p-index--word-3
    span E
    span.p-index--letters-3 M
    span P
    span.p-index--letters-4 O
    span WE
    span.p-index--letters-5 R
    span ED
  p
    span.p-index--letters-6 BY
    span.p-index--letters-7 AI
.p-index--ea
  include ~images/svg/ea.svg
.p-index--rvi
  include ~images/svg/rvi.svg
li.p-index--contacts
  ul.p-index--contact.__line-1.c-white TM of Everything LLC
  ul.p-index--contact.__line-2.c-white Revolucni 13,
  ul.p-index--contact.__line-3.c-white Prague, 11000
  ul.p-index--contact.__line-4.c-white Czech Republic
  ul.p-index--contact.__email
    a.link.c-red(data-link href='mailto:hi@hoodies.company') hi@hoodies.company
